@import url("installation.css");

@import url("button.css");

.documentation {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: scroll;
}

.documentation-title {
	font-weight: 400;
	color: var(--color-primary);
}

.documentation-sub-title {
	font-weight: 500;
	font-size: 1.2rem;
}

.documentation-content {
	font-size: 1rem;
}

.documentation-sub-title-sm {
	font-weight: 600;
	font-size: 1.1rem;
	padding-top: 1rem;
}

.documentation-description {
	margin-block-start: 1rem;
	margin-block-end: 1rem;
	line-height: 1.4rem;
}

@media only screen and (min-width: 768px) {
	.documentation {
		padding: 2rem;
	}
}

.footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.footer-btn-left {
	flex-basis: 50%;
	display: flex;
	justify-content: flex-start;
}

.footer-btn-right {
	flex-basis: 50%;
	display: flex;
	justify-content: flex-end;
}
