.nav {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}

.nav-logo {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.2rem;
}

.nav-logo:hover {
	cursor: pointer;
}

.nav-logo-image {
	width: 3rem;
	border-radius: 5px;
}

.nav-title {
	color: var(--color-primary);
	font-size: 1.4rem;
	font-weight: 300;
}

.nav-logo:hover .nav-title {
	/* font-weight: bold; */
	border-bottom: solid 0.05rem var(--color-primary);
}

.nav-logo:hover .nav-logo-image {
	opacity: 1;
}

.nav-menu {
	display: none;
	margin-left: auto;
}

.nav-menu-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1.5rem;
	position: relative;
}

.nav-menu-item {
	font-size: 1.1rem;
	font-weight: 300;
}

.nav-menu-item:hover a {
	/* color: var(--color-primary);  */
	font-weight: 400;
	/* border-radius: 0.2rem;
	border-bottom: solid 0.1rem var(--color-primary); */
	text-decoration: underline;
	text-decoration-color: var(--color-primary);
}

.nav-menu-toggle {
	margin-left: auto;
	flex-basis: 50%;
	display: flex;
	justify-content: flex-end;
}

.nav-menu-toggle:hover {
	cursor: pointer;
}

.nav-menu-item-active {
	font-weight: 400;
}

@keyframes toggleActivate {
	0% {
		transform: translate(100%, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}

.nav-menu-active {
	display: flex;
	flex-basis: 100%;
	justify-content: flex-end;
	padding: 0.5rem;
	/* position: absolute; */
	/* left: 100%; */
	animation: toggleActivate 0.3s ease-in-out;
}

.nav-menu-active .nav-menu-list {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.nav-menu-toggle-image {
	width: 2rem;
	height: 2rem;
}

@media only screen and (min-width: 375px) {
	.nav-logo-image {
		width: 3.5rem;
	}

	.nav-title {
		font-size: 1.35rem;
	}
}

@media only screen and (min-width: 425px) {
	.nav-logo-image {
		width: 4rem;
	}

	.nav-title {
		font-size: 1.4rem;
	}
}

@media only screen and (min-width: 768px) {
	.nav {
		padding: 1.5rem;
	}

	.nav-logo-image {
		width: 4.5rem;
	}

	.nav-title {
		font-size: 1.5rem;
	}

	.nav-menu {
		display: flex;
		flex-wrap: wrap;
	}

	.nav-menu-list {
		gap: 1.5rem;
	}

	.nav-menu-toggle {
		display: none;
	}

	.nav-menu-active {
		flex-basis: auto;
	}

	.nav-menu-active .nav-menu-list {
		flex-direction: row;
	}
}

@media only screen and (min-width: 1024px) {
	.nav {
		padding-right: 2rem;
		padding-left: 2rem;
	}

	.nav-logo-image {
		width: 5rem;
	}

	.nav-title {
		font-size: 1.6rem;
	}

	.nav-menu {
		display: flex;
		flex-wrap: wrap;
	}

	.nav-menu-list {
		gap: 2rem;
	}

	.nav-menu-toggle {
		display: none;
	}

	.nav-menu-active {
		flex-basis: auto;
	}

	.nav-menu-active .nav-menu-list {
		flex-direction: row;
	}
}

@media only screen and (min-width: 1440px) {
	.nav {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}

	.nav-logo-image {
		width: 5.5rem;
	}

	.nav-title {
		font-size: 1.8rem;
	}

	.nav-menu {
		display: flex;
		flex-wrap: wrap;
	}

	.nav-menu-list {
		gap: 3rem;
	}

	.nav-menu-item {
		font-size: 1.2rem;
	}

	.nav-menu-toggle {
		display: none;
	}

	.nav-menu-active {
		flex-basis: auto;
	}

	.nav-menu-active .nav-menu-list {
		flex-direction: row;
	}
}

@media only screen and (min-width: 2560px) {
	.nav {
		padding-right: 3rem;
		padding-left: 3rem;
	}

	.nav-logo-image {
		width: 6.5rem;
	}

	.nav-title {
		font-size: 2rem;
	}

	.nav-menu {
		display: flex;
		flex-wrap: wrap;
	}

	.nav-menu-list {
		gap: 5rem;
	}

	.nav-menu-item {
		font-size: 1.6rem;
	}

	.nav-menu-toggle {
		display: none;
	}

	.nav-menu-active {
		flex-basis: auto;
	}

	.nav-menu-active .nav-menu-list {
		flex-direction: row;
	}
}
